@font-face {
    font-family: "typewriter";
    src: url("../fonts/MyUnderwood.ttf") format("truetype");
}

h1, h2, h3 {
  font-family: typewriter, Courier, monospace;
  text-align: center;    
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF0EB;
  border: solid 1px #BFA08E;
  padding-bottom: 20px;
}

h1 {
  font-size: 25px;
  letter-spacing: -1px;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
}

h3, h4, p, a, li {
  font-size: 15px;
  letter-spacing: -2px;
}

p, a {
  font-family: 'Courier New', Courier, monospace;
}

ul {
  list-style-position: inside;  
}

.navigation_button {
  text-decoration: none;
  margin: 10px;
}

.navigation_button:visited {
  color: black;
  font-weight: bold;
}

.navigation_buttons {
  display: flex;
  flex-direction: column;     
  width: 100%;
  text-align: center;
  padding: 5px;
}

.navigation_button {
  border: solid 1px #BFA08E;
  border-radius: 0 15px 0 0;
  margin: 0;
  background-color: #D9B97E;
  padding-top: 10px;
  padding-bottom: 10px;
}

#about_me, #my_projects {
  border-bottom: dashed;
}

.profile_image {
  text-align: center;
  
}

#my_photo {
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

#personal_info {
  text-align: center;
}

.info_lable {
  font-weight: bold;
}

#my_projects {
  display: none;
}

.project_cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-bottom: 10px;
}

.project_card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project_image {
  width: 100%;
}

.project_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


#square_eyes_project_card {
  border: solid 2px #5c1122;
  padding: 2px;
  margin: 2px;
}

#community_science_museum_project_card {
  border: solid 2px #808080;
  padding: 2px;
  margin: 2px;
}

#might_and_magic_worlds_project_card {
  border: solid 2px #3e428c;
  padding: 2px;
  margin: 2px;
}

#page_footer {
  margin-top: 1px;
  padding-top: 1px;
  border-top: dashed;    
}